In [103]:
import pandas as pd
df = pd.read_excel('t_office.xlsx')

In [104]:
df

   tname t_office
0    余正道    天數461
1    蔡雅如   天數528
2    蔡國榮    天數432
3    石明豐    新物632
4    姜昌明    化322
..   ...      ...
75   林智仁     資413
76   陳偉松     資516
77   楊佳玲     資411
78   洪士灝     資320
79   劉邦鋒     資425

[80 rows x 2 columns]

In [105]:
gf = pd.read_excel('building_tran.xlsx')

In [106]:
gf

   abb  google_search                                            en_name
0    普          普通教學館                            Putong Lecture Building
1    新          新生教學館                         Xingsheng Lecture Building
2   博雅          博雅教學館                              Boya Lecture Building
3   思亮          台大思亮館                                    SHIH-LIANG HALL
4   工綜      台大工學院綜合大樓                       COLLEGE OF ENGINEERING BLDG.
5   電二         台大電機二館                                   E.E. BLDG. NO.2
6   明達          台大明達館                                     MING-DA BLDG.
7   博理          台大博理館                                     BARRI LAM HALL
8    共          共同教學館                         Gongtong Lecture Building
9    綜          綜合教學館                           Zonghe Lecture Building
10   資          台大德田館                               C.S.I.E. BLDG. ROOM
11  工科  台大工程科學海洋工程學系館  DEPT. OF ENGINEERING SCIENCE AND OCEAN ENGINEE...
12  天數          天文數學館                Astronomy and Mathematics Building
13  新物          凝態物理館                    DEPT. OF PHISICS NEW BLDG. ROOM
14   化          台大績學館                           DEPT. OF CHEMISTRY BLDG.

In [107]:
abbr = gf['abb'].tolist()
print(abbr)
goo = gf['google_search'].tolist()
loc = df['t_office'].tolist()
google=[]
for i in range(len(loc)):
    k=0
    for j in range(len(abbr)):
        if(loc[i][0:2]==abbr[j]):
            google.append(goo[j])
            k=2
    if k<2:
        for j in range(len(abbr)):
            
            if(loc[i][0:1]==abbr[j]):
                print(loc[i],abbr[j])
                google.append(goo[j])
                k=1
                break;
    if(k<1):
        google.append('null')

['普', '新', '博雅', '思亮', '工綜', '電二', '明達', '博理', '共', '綜', '資', '工科', '天數', '新物', '化']
化322　 化
化A214 化
化579 化
化A422 化
化A520 化
資512 資
資527 資
資525 資
資520 資
資511　 資
資418 資
資323　 資
資531 資
資325　 資
資517 資
資417 資
資317 資
資413 資
資516 資
資411 資
資320 資
資425 資

In [108]:
df[['google_search']] = pd.DataFrame(google)

In [109]:
df

   tname t_office google_search
0    余正道    天數461         天文數學館
1    蔡雅如   天數528          天文數學館
2    蔡國榮    天數432         天文數學館
3    石明豐    新物632         凝態物理館
4    姜昌明    化322　         台大績學館
..   ...      ...           ...
75   林智仁     資413         台大德田館
76   陳偉松     資516         台大德田館
77   楊佳玲     資411         台大德田館
78   洪士灝     資320         台大德田館
79   劉邦鋒     資425         台大德田館

[80 rows x 3 columns]

In [110]:
df.to_excel('t_office_v2.xlsx')